.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 0;
  font-size: 3vw;

  .logo-container {
    height: 100%;
    width: 180px;
    margin: 0;
    padding: 0px;
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    padding: 0;

    .option {
      padding: 5px 0;
      margin-right: 0;
      cursor: pointer;
    }

    .logo2 {
      width: 33px;
      padding: 10px;
    }
  }
}
